body {
    background: rgb(169, 169, 245);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.377);

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    padding: 10px 10px 10px 60px;
}

#txtn {
    width: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
    padding: 5px;
}

.tab {
    margin: 10px 10px 10px 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    height: 180px;
    width: 155px; 
    text-align: left;   
}

.op {
    text-align: center;
    padding: 2px;
    font-weight: bolder;
}

#buttonn {
    border-radius: 5px;
    border: 1px solid rgb(147, 97, 228);
    background-color: rgb(204, 203, 250);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    color: rgb(46, 47, 48);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}